.rtc-reflect {
  -webkit-box-reflect: below 1 -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(1.0, rgba(255, 255, 255, 0.5)));
}

.rtc-pip {
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 0;
  right: 4px;
  z-index: 100;
}

.rtc-fadein {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;

  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  -ms-transition-duration: 550ms;
  transition-duration: 550ms;

  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.rtc-grayscale {
  -webkit-filter: grayscale(1);
}

.rtc-sepia {
  -webkit-filter: sepia(0.8);
}

.rtc-blur {
  -webkit-filter: blur(3px);
}

.rtc-saturate {
  -webkit-filter: saturate(0.8);
}

.rtc-contrast {
  -webkit-filter: contrast(0.8);
}

.rtc-flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rtc-shadow {
  -webkit-box-shadow: 0px 0px 8px 1px #222;
  box-shadow: 0px 0px 8px 1px #222;
}
